:root {
  --mainSiteColor: #ffb6c2;
  --secondSiteColor: #07268d;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-custom{
  background-color: var(--mainSiteColor);
  font-size: 1.5em;
}

.nav-custom a, .nav-custom a:visited {
  color: rgb(0, 0, 0);
}
.custom-hamburger {
  color: rgb(0, 0, 0);
  font-size: 2em;
}

.nav-custom a:hover{
  color: var(--secondSiteColor)
}

.nav-custom li a:hover{
  text-decoration-line: underline;
}
.my-name{
  font-size: 1.5em;
  padding-left: 30px;
}

.custom-align{
  flex-grow: 0;
}

.profile {
  height: 152px;
  width: 152px;
  border-radius: 50%;
  margin-bottom: 5px;
}

section {
  color: white;
  height: 100vh;
  padding-top:  190px;
  margin-left: 2%;
  margin-right: 2%;
}

#portfolio {
  height: 200vh;
}

section h2 {
  border-bottom: 1px solid #000000;
  padding-left: 2%;
  padding-bottom: 10px;
}

#landing-page h2{
  border: none;
}

.landing-text { 
  margin: 10% 20% 20% 25%;
}

.landing-text p {
  font-size: 1.4em;
  margin-left: 30px;
  padding: 5px 10px 5px 10px;
  border: 2px solid #000000;
  border-radius: 25px;
  width: fit-content;
}
.landing-text p:hover{
  background-color: var(--secondSiteColor);
  color: white;
}

.landing-text a {
  text-decoration: none;
  color: #000000;
}